/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;

}

header{
  background-color:grey;
}

nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-between;
  align-items: center; 
  padding-block: 20px;
  padding-inline: 20px;
}
.logo img{
     width: 6rem;
}

.nav-list{
  flex-grow: 1;
}
.list{
  list-style-type: none;
  float: right;
}

.list-item{
  float: left;
  padding-right: 20px;
  color: white;
}
.ham{
  width: 40px;
  display: none;
 
}

.nav-button button{
  padding: 10px 40px ;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.header-section{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  padding-block: 70px;
 


}
.header-section .left-section{
    width:  45%;
    text-align: center;
   
   
}

.header-section .left-section img{
  width: 76%;
  height: 460px;
  border-radius: 10px;

}

.header-section .right-section{

  width: 55%;

 
}

.header-section .right-section h1{
  font-size: 3rem;
  color: white;
  padding-bottom: 20px;
  width: 75%;
}

.header-section .right-section p{
  font-size: 1rem;
  color:whitesmoke;
  padding-bottom: 20px;
  line-height: 1.5rem;
  width: 70%;
}


.header-section .right-section div{
  display: inline-block;
  margin: auto;
 
}
.header-section .right-section div input{

  border: none;
  font-size: medium;
  width:  250px;
  height: 50px;
  padding-left: 30px ;

}

.header-section .right-section div button{
 
  background-color: green;
  color: white;
  /* padding: 10px 50px ; */
  width: 10%;
  height: 50px;
  font-size: 1.2rem;
  border: none;
  position: absolute;

}

.header-section .right-section div i{
 font-size: 1rem;
 position: absolute;
 padding-block: 16px;
 padding-inline: 13px;
}

.work-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  margin: 5% 0px;
  /* font-size: 25px; */
  text-align: center;
}

.work-section .top-heading{
  width: 100%;
  
  margin-bottom: 5%;
}

.card{
  width:20%
  
}
.card h1{
  font-size: 30px;
}

.card h3{
  font-size: 20px;
  color: gray;
}

.work-section div:last-child{
  margin:5%;
}
.work-section div img{
  width:  80vw;
  height: 80vh;
}


.about-section{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
 margin: 5% 0px;
 
}
.about-section .top-heading{
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
}


.section1{

  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;

}

.about-section .right-section1{
  width: 40%;
  text-align: center;
}
.about-section .right-section1 img{

  width: 30rem;
  height: 25rem;
}

.about-section .left-section1{

  width: 40%;
}
.about-section .left-section1 h1{
  font-size: 2rem;
  padding-bottom: 20px;
  text-align:left;
  width: 82%;
}

.about-section .left-section1 p{
  padding-bottom: 20px;
  text-align:left;
  width: 82%;
}
.about-section .left-section1 button{
 
  background-color: green;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 1.2rem;
  border: none;
  position: absolute;

}


/* .............................section2............................. */

.section2{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around; 
  align-items: center;
  margin: 5% 0px;
  /* gap:5% */
}
.about-section .left-section2{
  width: 40%;
  text-align: center;
}
.about-section .left-section2 img{

  width: 30rem ;
  height: 30rem;
}

.about-section .right-section2{

  width: 40%;
}
.about-section .right-section2 h1{
  font-size: 2rem;
  padding-bottom: 20px;
  text-align:left;
  width: 80%;
}

.about-section .right-section2 p{
  padding-bottom: 20px;
  text-align:left;
  width: 80%;
}
.about-section .right-section2 button{
 
  background-color: green;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 1.2rem;
  border: none;
  position: absolute;

}



.team-section{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  gap: 10%;

}

.team-section .left-section{
  font-size: 3rem;
  margin-bottom: 5%;
  width: 40%;
}
.team-section .right-section{
  width: 40%;
  margin-bottom: 5%;
  font-size: 1.5rem;
  text-align: left;
  color: grey;
}

.team-section .cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  text-align: left;
}
.team-section .cards .card{
  width: 25%;
}
.team-section .cards .card div{
    
}
.team-section .cards .card img{
  
  width: 100%;
  height: 100%;
}

.team-section div button{
  padding: 20px 60px ;
  background-color: darkgreen;
  color: white;
  border: none;
  margin: 50px 0px ;
}

footer{
  background-color: black;
  color: white;
  padding: 5% 10%;
}

.top{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-bottom: 50px;
  gap: 30px;
}

.top .left-section img{

  width: 8rem;

}

.top .right-section span{
    padding: 13px 13px ;
    background-color: gray;
    border-radius: 50%;
    margin: 0px 2px ;
}

.bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.line1{
  line-height: 2.5rem;
  width: 20%;
}
.line1 h1{
  font-size: 20px;
}
.line1 ul{

  list-style-type: none;
}
hr{
   background-color:grey;
  height: 0px;
  margin-bottom: 50px;
}

.line1 ul li{
  color: gray;
}


@media only screen and (max-width:1070px) {
    
    .nav-button button{
        padding: 7px 20px ;
      }

      .header-section .left-section img{

        width: 30rem ;
        height: 35rem;
      }
       
      .header-section .left-section{
        width: 40%;
       
       
        }
        .header-section .left-section img{
            width: 80%;
            height: 400px;
            border-radius: 10px;
          
          }
        
    .header-section .right-section h1{
        font-size: 2rem;
     
    }

    .header-section .right-section div input{

        border: none;
        font-size: 13px;
        width:  180px;
        height: 40px;
        padding-left: 30px ;
      
      }
      
      .header-section .right-section div button{
       
        width: 8%;
        height: 40px;
        font-size: 13px;
       
      
      }
      
      .header-section .right-section div i{
     
       padding-block: 12px;
       padding-inline: 9px;
      }
    
      .card h1{
        font-size: 1rem;
      }
      
      .card h3{
        font-size: 1rem;
        color: gray;
      }
  
      .section1{
        margin-block: 30px;
      }
      .about-section .right-section1 img{
        width: 20rem;
        height: 19rem;
      }
      
    .about-section .left-section1{

        width: 50%;
    }
    .section2{
        margin-block: 30px;
        justify-content:space-between;
    }
    .about-section .left-section2 img{

        width: 20rem ;
        height: 25rem;
      }
      
      .about-section .right-section2{
      
        width: 50%;
      }
            
      .about-section .left-section1 button{
 
        
        width: 100px;
        height: 30px;
        font-size: 1rem;
        border: none;
        position: absolute;
      
      }
      .about-section .right-section2 button{
 
        
        width: 100px;
        height: 30px;
        font-size: 1rem;
        border: none;
        position: absolute;
      
      }
    
      .team-section .left-section{
        font-size: 2rem;
    
        width: 40%;
      }
      .team-section .right-section{
        width: 40%;
    
        font-size: 1rem;
        
      }
      .team-section .cards .card{
        width: 30%;
      }

}

@media only screen  and (max-width:700px){

    .nav-list,  .nav-button{
        display: none;
    }
  
    .ham{
        display: inline-block;
    }
    
    /* Header Section */

    .header-section{
        
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
      
      }

    .header-section .left-section{
        width: 100%;
    }
    .header-section .right-section{
        width: 95%;
        text-align: center;
    }

    .header-section .right-section h1{
        font-size: 2.5rem;
        width: 100%;
      }
      
      .header-section .right-section p{
        font-size: 1rem;
        width: 100%;
      }
      .header-section .right-section div input{

        width:  180px;
        height: 50px;
   
        
      
      }
      .header-section .right-section div button{
        width: 15%;
        height: 50px;
      
        
      }
     
      .header-section .right-section div i{
        padding-block: 16px;
        padding-inline: 13px;
       }

       .section1{
        flex-direction: column-reverse;
        gap: 30px;
        text-align: center;
       }
       .section2{
        flex-direction: column;
        gap: 30px;
        text-align: center;
       }

       .about-section .right-section1{
        width: 90%;
        text-align: center;
      }
      .about-section .right-section1 img{
      
        width: 80%
      }
      
      .about-section .left-section1{
      
        width: 95%;
      }
      .about-section .left-section1 h1{
        font-size: 2rem;
        padding-bottom: 20px;
        text-align:center;
        width: 100%;
      }
      
      .about-section .left-section1 p{
        padding-bottom: 20px;
        text-align:center;
        width: 100%;
      }
      .about-section .left-section1 button{
       
        background-color: green;
        color: white;
        width: 100px;
        height: 50px;
        font-size: 1.2rem;
        border: none;
        position: static;
      
      }


      .about-section .left-section2{
        width: 90%;
        text-align: center;
      }
      .about-section .left-section2 img{
        width: 80%
        
      }
      
      .about-section .right-section2{
      
        width: 95%;
      }
      .about-section .right-section2 h1{
        font-size: 2rem;
        padding-bottom: 20px;
        text-align:center;
        width: 100%;
      }
      
      .about-section .right-section2 p{
        padding-bottom: 20px;
        text-align:center;
        width: 100%;
      }
      .about-section .right-section2 button{
       
        background-color: green;
        color: white;
        width: 100px;
        height: 40px;
        font-size: 1.2rem;
        border: none;
        position: static;
      
      }

      .team-section{
     
      }
      .team-section .left-section{
        font-size: 2.5rem;
        width: 95%;
        text-align: center;
      }
      .team-section .right-section{
        width: 95%;
    
        font-size: 1.3rem;
        text-align: center;
        
      }
      .team-section .cards{
            gap: 30px;
            text-align: center;
      }
      
      .team-section .cards .card{
        width: 70%;
      }
      .top{
        justify-content: center;
      }
      .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        /* flex-direction: column; */
        /* text-align: center; */
        gap:20px;
      
      }
      .line1{
        width: 40%;
      }
      .footer{
        padding: 0;
      }
}